.about-me-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--secondary-color);
    padding: 0.5rem;
}

.blurb {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  width: 60%;
}

.emphasis-text {
  font-weight: var(--bold-font);
  color: var(--accent-color);
  font-family: var(--font-sans);
  font-size: 1.125rem;
}

.skills-container {
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid var(--primary-shadow);
  width: 350px;
}
.skills-container h3 {
    font-size: 1.125rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-family: var(--font-sans);
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted var(--primary-color);
}
.skills-container ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    color: var(--primary-color);
    font-family: var(--font-mono); 
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills-container li {
    display: flex;
    align-items: center;
}