.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.navbar-list {
  list-style-type: none;
  font-family: var(--font-mono);
  color: var(--primary-color);
  display: flex;
  gap: 1.9rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.navbar-list li {
  align-self: center;
}
.navbar-title {
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: var(--bold-font);
  color: var(--accent-color);
  font-size: 1.875rem;
}
.navbar-link {
  text-decoration: none;
  font-family: var(--font-sans);
  color: var(--secondary-color);
  font-size: 1rem;
  transition: color 0.1s ease;
}
.navbar-link:hover {
  color: var(--primary-color);
}
.navbar-link span {
  font-family: var(--font-mono);
  color: var(--primary-color);
}